@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap)

:root {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.main{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 5px rgba(0,0,0,.15);
    justify-content: center;
    max-width: 1500px;
    margin: auto;
}
#body {
    background-color: (bisque);
}

#navbarDropdownMenuLink {
    color: rgb(81, 182, 98);
    font-weight: bold;
}

.nav {
    justify-content: center;
}
.services {
    display: flex;
    justify-content: center;
}

.service-item {
    display: block;
    width: 400px;
    height: 160px;
    background: rgb(255, 255, 255);
    margin: 50px;
}

.service-item img {
    height: 60px;
}

.shop {
    display: grid;  
}

.card {
    width: 5%;
}

.constructor ul {
    text-decoration: none;
    list-style: none;
    }

.constructor {
        margin: 20px;
        padding: 20px;
        display: grid;
        grid-template-columns: 250px 250px 250px 400px;
        grid-gap: 30px;
        background-color: rgb(235, 241, 238);
      }


      
.const-item-1 {
        border-radius: 5px;
        padding: 20px;
        grid-column: 1 ;
        grid-row: 1;
      }
.const-item-2 {
        border-radius: 5px;
        padding: 20px;
        grid-column: 2;
        grid-row: 1;
      }
.const-item-3 {
        border-radius: 5px;
        padding: 20px;
        grid-column: 3;
        grid-row: 1;
      }
.const-item-4 {
        border-radius: 5px;
        padding: 20px;
        grid-column: 1;
        grid-row: 2;
      }
.const-item-5 {
        border-radius: 5px;
        padding: 20px;
        grid-column: 2;
        grid-row: 2;
      }
.constr-result {
    border-radius: 10px;
    padding: 10px;
    margin-top: 150px;
    grid-column: 4;
    grid-row: 1 / span 2;
    justify-content: center;
  }
  .constr-result input {
      box-sizing: content-box;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }  
